:root {
  --md-source: #97cfea;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary10: #001f2a;
  --md-ref-palette-primary20: #003546;
  --md-ref-palette-primary25: #004155;
  --md-ref-palette-primary30: #004d64;
  --md-ref-palette-primary35: #005a74;
  --md-ref-palette-primary40: #006684;
  --md-ref-palette-primary50: #0081a5;
  --md-ref-palette-primary60: #0b9cc7;
  --md-ref-palette-primary70: #41b7e4;
  --md-ref-palette-primary80: #68d3ff;
  --md-ref-palette-primary90: #bee9ff;
  --md-ref-palette-primary95: #e0f4ff;
  --md-ref-palette-primary98: #f4faff;
  --md-ref-palette-primary99: #fafcff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary10: #081e27;
  --md-ref-palette-secondary20: #1f333c;
  --md-ref-palette-secondary25: #2a3e48;
  --md-ref-palette-secondary30: #354a53;
  --md-ref-palette-secondary35: #41555f;
  --md-ref-palette-secondary40: #4d616c;
  --md-ref-palette-secondary50: #657a85;
  --md-ref-palette-secondary60: #7f949f;
  --md-ref-palette-secondary70: #99aeba;
  --md-ref-palette-secondary80: #b4cad6;
  --md-ref-palette-secondary90: #d0e6f2;
  --md-ref-palette-secondary95: #e0f4ff;
  --md-ref-palette-secondary98: #f4faff;
  --md-ref-palette-secondary99: #fafcff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary10: #1a1836;
  --md-ref-palette-tertiary20: #2f2d4d;
  --md-ref-palette-tertiary25: #3a3858;
  --md-ref-palette-tertiary30: #454364;
  --md-ref-palette-tertiary35: #514f71;
  --md-ref-palette-tertiary40: #5d5b7d;
  --md-ref-palette-tertiary50: #767397;
  --md-ref-palette-tertiary60: #908db2;
  --md-ref-palette-tertiary70: #aba7ce;
  --md-ref-palette-tertiary80: #c6c2ea;
  --md-ref-palette-tertiary90: #e3dfff;
  --md-ref-palette-tertiary95: #f3eeff;
  --md-ref-palette-tertiary98: #fcf8ff;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral10: #191c1e;
  --md-ref-palette-neutral20: #2e3132;
  --md-ref-palette-neutral25: #393c3e;
  --md-ref-palette-neutral30: #444749;
  --md-ref-palette-neutral35: #505355;
  --md-ref-palette-neutral40: #5c5f61;
  --md-ref-palette-neutral50: #757779;
  --md-ref-palette-neutral60: #8f9193;
  --md-ref-palette-neutral70: #a9abad;
  --md-ref-palette-neutral80: #c5c7c9;
  --md-ref-palette-neutral90: #e1e2e4;
  --md-ref-palette-neutral95: #eff1f3;
  --md-ref-palette-neutral98: #f8f9fb;
  --md-ref-palette-neutral99: #fbfcfe;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant10: #151d20;
  --md-ref-palette-neutral-variant20: #2a3136;
  --md-ref-palette-neutral-variant25: #353d41;
  --md-ref-palette-neutral-variant30: #40484c;
  --md-ref-palette-neutral-variant35: #4c5458;
  --md-ref-palette-neutral-variant40: #585f64;
  --md-ref-palette-neutral-variant50: #70787d;
  --md-ref-palette-neutral-variant60: #8a9297;
  --md-ref-palette-neutral-variant70: #a5acb1;
  --md-ref-palette-neutral-variant80: #c0c8cd;
  --md-ref-palette-neutral-variant90: #dce4e9;
  --md-ref-palette-neutral-variant95: #eaf2f7;
  --md-ref-palette-neutral-variant98: #f4faff;
  --md-ref-palette-neutral-variant99: #fafcff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #006684;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-light: #bee9ff;
  --md-sys-color-on-primary-container-light: #001f2a;
  --md-sys-color-secondary-light: #4d616c;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-light: #d0e6f2;
  --md-sys-color-on-secondary-container-light: #081e27;
  --md-sys-color-tertiary-light: #5d5b7d;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-light: #e3dfff;
  --md-sys-color-on-tertiary-container-light: #1a1836;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-light: #fbfcfe;
  --md-sys-color-on-background-light: #191c1e;
  --md-sys-color-surface-light: #fbfcfe;
  --md-sys-color-on-surface-light: #191c1e;
  --md-sys-color-surface-variant-light: #dce4e9;
  --md-sys-color-on-surface-variant-light: #40484c;
  --md-sys-color-outline-light: #70787d;
  --md-sys-color-inverse-on-surface-light: #eff1f3;
  --md-sys-color-inverse-surface-light: #2e3132;
  --md-sys-color-inverse-primary-light: #68d3ff;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006684;
  --md-sys-color-outline-variant-light: #c0c8cd;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #68d3ff;
  --md-sys-color-on-primary-dark: #003546;
  --md-sys-color-primary-container-dark: #004d64;
  --md-sys-color-on-primary-container-dark: #bee9ff;
  --md-sys-color-secondary-dark: #b4cad6;
  --md-sys-color-on-secondary-dark: #1f333c;
  --md-sys-color-secondary-container-dark: #354a53;
  --md-sys-color-on-secondary-container-dark: #d0e6f2;
  --md-sys-color-tertiary-dark: #c6c2ea;
  --md-sys-color-on-tertiary-dark: #2f2d4d;
  --md-sys-color-tertiary-container-dark: #454364;
  --md-sys-color-on-tertiary-container-dark: #e3dfff;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-background-dark: #191c1e;
  --md-sys-color-on-background-dark: #e1e2e4;
  --md-sys-color-surface-dark: #191c1e;
  --md-sys-color-on-surface-dark: #e1e2e4;
  --md-sys-color-surface-variant-dark: #40484c;
  --md-sys-color-on-surface-variant-dark: #c0c8cd;
  --md-sys-color-outline-dark: #8a9297;
  --md-sys-color-inverse-on-surface-dark: #191c1e;
  --md-sys-color-inverse-surface-dark: #e1e2e4;
  --md-sys-color-inverse-primary-dark: #006684;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #68d3ff;
  --md-sys-color-outline-variant-dark: #40484c;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Outfit;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 475;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Outfit;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 475;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Outfit;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 475;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Outfit;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Outfit;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Outfit;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Outfit;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Outfit;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Outfit;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Outfit;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Outfit;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Outfit;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Outfit;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Outfit;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Outfit;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
